# More Practice With SQL Queries - Lab

## Introduction

In this lesson, we'll run through some practice questions to refresh our knowledge of SQL Queries!

## Objectives

You will be able to:

- Practice your SQL knowledge

## Getting Started

As in previous labs, we'll make use of the `sqlite3` library as well as `pandas`. By combining them, we'll be able to write our queries as python strings, and make sure that the results are always returned as a pandas DataFrame. 

We'll start by loading both libraries and connecting to the database we'll be using for this lab, `data.sqlite`. You may remember this database from a previous lab. As a refresher, here's the ERD diagram for this database: 

<img src='images/Database-Schema.png'>

In the cell below:

* Import the necessary libraries `pandas` and `sqlite3`
* Establish a connection to the database `data.sqlite`
* Get the `cursor` from the connection and store it in the variable `c`.

In [5]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Basic Queries

Now, let's review basic SQL queries. In the cell below:

* Write a query that gets the first name, last name, phone number, address, and credit limit for all customers in California with a credit limit greater than 25000.00.

In [15]:
# For the first query, the boilerplate for getting 
#the query into a dataframe has been provided for you
c.execute("""SELECT contactfirstname,
                    contactlastname,
                    phone,
                    addressline1,
                    creditlimit
                FROM customers
                WHERE state == 'CA'
                AND creditlimit > 25000
                ;""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,contactFirstName,contactLastName,phone,addressLine1,creditLimit
0,Susan,Nelson,4155551450,5677 Strong St.,210500.0
1,Julie,Murphy,6505555787,5557 North Pendale Street,64600.0
2,Juri,Hashimoto,6505556809,9408 Furth Circle,84600.0
3,Julie,Young,6265557265,78934 Hillside Dr.,90700.0
4,Valarie,Thompson,7605558146,361 Furth Circle,105000.0
5,Julie,Brown,6505551386,7734 Strong St.,105000.0
6,Brian,Chandler,2155554369,6047 Douglas Av.,57700.0
7,Sue,Frick,4085553659,3086 Ingle Ln.,77600.0
8,Steve,Thompson,3105553722,3675 Furth Circle,55400.0
9,Sue,Taylor,4155554312,2793 Furth Circle,60300.0

#### Expected Output

<img src='images/expected-output-1.png'>

## Aggregate Functions and GROUP BY

Next, write a query that get sthe average credit limit per state.

In [20]:
c.execute("""SELECT state, avg(creditlimit)
                FROM customers
                GROUP BY 1
                """)
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

            state  avg(creditlimit)
0                      61839.726027
1              BC      89950.000000
2              CA      83854.545455
3              CT      57350.000000
4        Co. Cork          0.000000
5   Isle of Wight      93900.000000
6              MA      70755.555556
7              NH     114200.000000
8              NJ      43000.000000
9             NSW     100550.000000
10             NV      71800.000000
11             NY      89966.666667
12          Osaka      81200.000000
13             PA      84766.666667
14       Pretoria          0.000000
15     Queensland      51600.000000
16         Québec      48700.000000
17          Tokyo      94400.000000
18       Victoria      88800.000000

#### Expected Output

<img src='images/expected-output-2.png'>

## JOINs

Now, write a query that uses JOIN statements to get the customer name, customer number, order number, status, and quantity ordered. Print only the head of this DataFrame.

In [25]:


c.execute("""SELECT customername, customernumber,
                    ordernumber, status, quantityordered
                FROM customers
                JOIN orders
                USING (customernumber)
                JOIN orderdetails
                USING (ordernumber)
                GROUP BY 1""")

df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,customerName,customerNumber,orderNumber,status,quantityOrdered
0,"AV Stores, Co.",187,10332,Shipped,50
1,Alpha Cognac,242,10397,Shipped,48
2,Amica Models & Co.,249,10293,Shipped,49
3,"Anna's Decorations, Ltd",276,10391,Shipped,44
4,Atelier graphique,103,10345,Shipped,43
5,"Australian Collectables, Ltd",471,10415,Disputed,51
6,"Australian Collectors, Co.",114,10347,Shipped,50
7,"Australian Gift Network, Co",333,10374,Shipped,46
8,Auto Associés & Cie.,256,10304,Shipped,47
9,Auto Canal+ Petit,406,10402,Shipped,59
10,Auto-Moto Classics Inc.,198,10352,Shipped,49
11,Baane Mini Imports,121,10325,Shipped,47
12,"Bavarian Collectables Imports, Co.",415,10296,Shipped,47
13,"Blauer See Auto, Co.",128,10323,Shipped,47
14,Boards & Toys Co.,219,10376,Shipped,35
15,CAF Imports,344,10231,Shipped,49
16,Cambridge Collectables Co.,173,10249,Shipped,46
17,Canadian Gift Exchange Network,202,10313,Shipped,42
18,"Classic Gift Ideas, Inc",339,10307,Shipped,48
19,Classic Legends Inc.,424,10337,Shipped,42
20,"Clover Collections, Co.",189,10297,Shipped,35
21,Collectable Mini Designs Co.,239,10226,Shipped,48
22,Collectables For Less Inc.,379,10369,Shipped,45
23,Corporate Gift Ideas Co.,321,10384,Shipped,49
24,"Corrida Auto Replicas, Ltd",458,10348,Shipped,48
25,Cruz & Sons Co.,385,10330,Shipped,50
26,Daedalus Designs Imports,171,10224,Shipped,50
27,Danish Wholesale Imports,145,10406,Disputed,65
28,Diecast Classics Inc.,157,10422,In Process,51
29,Diecast Collectables,495,10243,Shipped,47
...,...,...,...,...,...
68,Osaka Souveniers Co.,177,10240,Shipped,41
69,"Oulu Toy Supplies, Inc.",311,10373,Shipped,50
70,Petit Auto,314,10423,In Process,31
71,Québec Home Shopping Network,233,10411,Shipped,46
72,Reims Collectables,353,10398,Shipped,49
73,Rovelli Gifts,278,10328,Shipped,48
74,"Royal Canadian Collectables, Ltd.",260,10283,Shipped,47
75,Royale Belge,381,10366,Shipped,49
76,Salzburg Collectables,382,10419,Shipped,70
77,"Saveley & Henriot, Co.",146,10227,Shipped,47
78,Scandinavian Gift Ideas,448,10389,Shipped,49
79,Signal Collectibles Ltd.,487,10219,Shipped,48
80,Signal Gift Stores,112,10346,Shipped,42
81,Souveniers And Things Co.,282,10420,In Process,66
82,"Stylish Desk Decors, Co.",324,10351,Shipped,39
83,Suominen Souveniers,334,10363,Shipped,50
84,Super Scale Inc.,455,10245,Shipped,45
85,Technics Stores Inc.,161,10362,Shipped,50
86,Tekni Collectables Inc.,328,10401,On Hold,85
87,The Sharp Gifts Warehouse,450,10407,On Hold,76
88,"Tokyo Collectables, Ltd",398,10408,Shipped,15
89,"Toms Spezialitäten, Ltd",259,10310,Shipped,49
90,"Toys of Finland, Co.",186,10377,Shipped,50
91,Toys4GrownUps.com,205,10367,Resolved,49
92,"UK Collectables, Ltd.",201,10403,Shipped,66
93,"Vida Sport, Ltd",298,10287,Shipped,45
94,Vitachrome Inc.,181,10324,Shipped,49
95,"Volvo Model Replicas, Co",144,10334,On Hold,49
96,West Coast Collectables Co.,475,10215,Shipped,49
97,giftsbymail.co.uk,240,10316,Shipped,48

#### Expected Output

<img src='images/expected-output-3.png'>

## HAVING and ORDER BY

Now, return the customerName, customrerNumber, productName, productCode and total number ordered for any product a customer has bought 10 or more of cumulatively. Sort the rows in descending order by the quantity ordered. 

**_Hint_**: For this one, you'll need to make use of HAVING, GROUP BY, and ORDER BY--make sure you get the order of them correct!

#### Expected Output

<img src='images/expected-output-4.png'>

## Subqueries

Finally, get the first name, last name, employee number, and office code for employees from an office with less than 5 employees.

#### Expected Output

<img src='images/expected-output-5.png'>

# Summary

In this lesson, we reviewed all the major concepts and keywords associated with SQL queries!